@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden !important;
}
.text-dela {
    font-family: "Dela Gothic One", sans-serif;
}
._container{
    max-width: 1444px;
    padding-left: 6%;
    padding-right: 6%;
    margin: auto;
}
  
  @media screen and(max-width:768px) {
    ._container{
      max-width: 100%;
      padding-left: 4%;
      padding-right: 4%;
      margin: auto;
    }
  }